/* ---- reset ---- */
body {
  margin: 0;
}
canvas {
  display: block;
  vertical-align: bottom;
}
#particles-js {
  position: absolute;
  width: 100%;
  height: 100%;
  background-color: #232741;
  background-image: url("https://upload.wikimedia.org/wikipedia/commons/thumb/3/3f/Logo_de_Enron.svg/1200px-Logo_de_Enron.svg.png");
  background-repeat: no-repeat;
  background-size: 15%;
  background-position: 50% 50%;
}
