/* ---- reset ---- */
body {
  margin: 0;
  text-align: center;
  color: #314567;
}
canvas {
  display: block;
  width: 100%;
}
#particles-js {
  position: absolute;
  z-index: -1;
  margin: 0;
  width: 100%;
  height: 100%;
  background-color: #314567;
}

#permission_denied h1 {
  text-align: center;
  color: #fff;
  font-family: "Dosis", sans-serif;
  font-size: 100px;
  margin-bottom: 0px;
  font-weight: 800;
}

#permission_denied h3 {
  position: relative;
  color: rgb(199, 197, 145);
  width: auto;
  display: inline-block;
}
